/*  reset  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  overflow-y: scroll;
}

/*  elements  */
body {
  width: 904px;
  margin: auto;
  position: relative;
  font-family:"Open Sans";
  padding-bottom:20px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 32px;
}

header {
    margin-right: 16%;
    margin-left: 16%;
    float: left;
    height: 56px;
    margin-top: 42px;
}

.v-div {
     border-left: 1px solid #4F9CE2;
     height: 136px;
     position: absolute;
     right: 380px;
     opacity: 0.5;
}

.h-div {
     width: 100%;
     height: 1px;
     border: 0;
     color: #4F9CE2;
     background-color: #4F9CE2;
     opacity: 0.5;
}

.title {
    color: #4F9CE2;
}

header > div {
    font-family: "Arvo";
    color: #4F9CE2;
}

header > .name {
    font-size: 42px;
}

header > .profession {
    font-size: 16px;
    margin-top: 12px;
    text-align: right;
}

.contact-details {
    float: right;
    margin-top: 4px;
    margin-bottom: 16px;
    text-align: left;
    margin-right: 80px;
}

.contact-details > .title {
    font-family: "Arvo";
    font-size: 16px;
}

.contact-details > ul {
    list-style: none;
}

.contact-details > ul > li {
    margin-bottom: 4px;
}

.contact-details > ul > li > span {
    margin-right: 12px;
}

.contact-details > ul > li > a {

}

.contact-details > ul > li > a:hover {

}

.contact-details .address {

}

.contact-details .github {
    display: none;
}

.contact-details .linkedin {
    display: none;
}

.contact-details .twitter {
    display: none;
}

.skills {

}

/* Experience class */

.experience {
    display: none;
}

.experience > .title {

}

.experience > .item {

}

.experience > .item > .position {

}

.experience > .item > .company {

}

.experience > .item > .description {

}

.experience > .item > .time {

}

.experience > .item > .responsibilities {

}

/* My projects class */

.my-projects {
    display: none;
}

.my-projects > .title {

}

.my-projects > .item {

}

.my-projects > .item > .name {

}

.my-projects > .item > .description {

}

.my-projects > .item > .status {

}

.my-projects > .item > .responsibilities {

}

/* Education class */

.education {
    display: none;
}

.education > .title {

}

.education > .item {

}

.education > .item > .area-of-study {

}

.education > .item > .company {

}

.education > .item > .description {

}

.education > .item > .time {

}

.education > .item > .responsibilities {

}

/* Extra-curriculars class */

.extra-curriculars {
    display: none;
}

.extra-curriculars > .title {

}

.extra-curriculars > .item {

}

.extra-curriculars > .item > .position {

}

.extra-curriculars > .item > .company {

}

.extra-curriculars > .item > .description {

}

.extra-curriculars > .item > .time {

}

.extra-curriculars > .item > .responsibilities {

}
